In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import tensorflow as tf
from tensorflow.keras.models import Sequential, load_model, Model
from tensorflow.keras.layers import Dense, Flatten,Input, concatenate
from tensorflow.keras.layers import GlobalAveragePooling2D
from tensorflow.keras.layers import Conv2D, MaxPool2D, Dropout
from tensorflow.keras.optimizers import SGD, Adam, RMSprop

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import accuracy_score
import tensorflow.keras.utils as utils

from datetime import datetime
# import cv2
import glob
import zipfile
import os
import shutil

from tensorflow.keras.applications import Xception, ResNet50
from tensorflow.keras.applications import InceptionV3, MobileNet
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tqdm import tqdm

import matplotlib as mlp
import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname = "C:\\Windows\\Fonts\\malgun.ttf").get_name()
plt.rc('font', family = font_name)
mlp.rcParams['axes.unicode_minus'] = False

In [2]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet, LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import BaggingRegressor, GradientBoostingRegressor, VotingRegressor, AdaBoostRegressor
from sklearn.neighbors import KNeighborsRegressor

from sklearn.svm import LinearSVR
from sklearn.metrics import r2_score, mean_squared_error
import xgboost as xgb
from xgboost import XGBRegressor
import lightgbm
from lightgbm import LGBMRegressor
from lightgbm import plot_importance, plot_metric

In [3]:
from sklearn.metrics import mean_squared_error, accuracy_score
from sklearn.model_selection import cross_val_score

In [4]:
from sklearn.utils import resample

In [20]:
a1_df = pd.read_csv("D:\\097.지능형 스마트팜 통합 데이터(토마토)\\01.데이터\\1.Training\\csv 파일(DF)/a1.csv", encoding="utf-8", index_col=0)
a1_df

      farm_id  number      date  plantHeight  weeklyGrowth
0        tom1       1  20210930        37.10         37.10
1        tom1       6  20210930        35.15         35.15
2        tom1      10  20210930        38.69         38.69
3        tom1      11  20210930        43.58         43.58
4        tom1      11  20210930          NaN           NaN
...       ...     ...       ...          ...           ...
17495    tom6      97  20211124        24.35         24.35
17496    tom6      97  20211124        21.59         21.59
17497    tom6      98  20211124          NaN           NaN
17498    tom6      98  20211124        19.86         19.86
17499    tom6      98  20211124          NaN           NaN

[17500 rows x 5 columns]

In [7]:
for i in range(len(a3_df)):
    a3_df["date"][i] = pd.to_datetime(str(a3_df["date"][i])).strftime("%Y-%m-%d")

C:\Users\acorn\AppData\Local\Temp\ipykernel_17824\4228778313.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a3_df["date"][i] = pd.to_datetime(str(a3_df["date"][i])).strftime("%Y-%m-%d")

In [8]:
a3_df.sort_values("date", inplace=True)
a3_df["date"].unique()

array(['2021-09-03', '2021-09-08', '2021-09-09', '2021-09-10',
       '2021-09-11', '2021-09-12', '2021-09-17', '2021-09-18',
       '2021-09-19', '2021-09-20', '2021-09-21', '2021-09-22',
       '2021-09-23', '2021-09-24', '2021-09-25', '2021-09-26',
       '2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
       '2021-10-01', '2021-10-02', '2021-10-03', '2021-10-04',
       '2021-10-05', '2021-10-06', '2021-10-07', '2021-10-08',
       '2021-10-09', '2021-10-10', '2021-10-11', '2021-10-12',
       '2021-10-13', '2021-10-14', '2021-10-15', '2021-10-16',
       '2021-10-17', '2021-10-18', '2021-10-19', '2021-10-20',
       '2021-10-21', '2021-10-22', '2021-10-23', '2021-10-24',
       '2021-10-25', '2021-10-26', '2021-10-27', '2021-10-28',
       '2021-10-29', '2021-10-30', '2021-10-31', '2021-11-01',
       '2021-11-02', '2021-11-03', '2021-11-04', '2021-11-05',
       '2021-11-06', '2021-11-07', '2021-11-08', '2021-11-09',
       '2021-11-10', '2021-11-11', '2021-11-12', '2021-11-13',
       '2021-11-14', '2021-11-15', '2021-11-16', '2021-11-17',
       '2021-11-18', '2021-11-19', '2021-11-20', '2021-11-21',
       '2021-11-22', '2021-11-23', '2021-11-24', '2021-11-25',
       '2021-11-26', '2021-11-27', '2021-11-28', '2021-11-30',
       '2021-12-01', '2021-12-02', '2021-12-03', '2021-12-04',
       '2021-12-05', '2021-12-06', '2021-12-07', '2021-12-08',
       '2021-12-09', '2021-12-11', '2021-12-12', '2021-12-13',
       '2021-12-16', '2021-12-17', '2021-12-18', '2021-12-19',
       '2021-12-21', '2021-12-23', '2021-12-24', '2021-12-25',
       '2021-12-28', '2021-12-29', '2021-12-31', '2022-01-08',
       '2022-01-09'], dtype=object)

In [9]:
a3_df.set_index("date", inplace=True)
a3_df.reset_index("date", inplace=True)

In [10]:
a3_df["date"][0]

'2021-09-03'

In [12]:
for i in range(len(a3_df)):
#     diff = datetime.strptime(a3_df["date"][i], "%Y-%m-%d")-datetime.strptime(a3_df["date"][0], "%Y-%m-%d")
#     a3_df["diff"] = diff #diff컬럼 생성을 위해 한번만 실행시키기
    a3_df["diff"][i] = datetime.strptime(a3_df["date"][i], "%Y-%m-%d")-datetime.strptime(a3_df["date"][0], "%Y-%m-%d")
a3_df

C:\Users\acorn\AppData\Local\Temp\ipykernel_17824\2394653508.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a3_df["diff"][i] = datetime.strptime(a3_df["date"][i], "%Y-%m-%d")-datetime.strptime(a3_df["date"][0], "%Y-%m-%d")

            date farm_id  number  stemDiameter     diff
0     2021-09-03    tom4       1          1.95   0 days
1     2021-09-08    tom1     100          1.20   5 days
2     2021-09-08    tom2       1          0.53   5 days
3     2021-09-08    tom2      26           NaN   5 days
4     2021-09-08    tom2      25          0.88   5 days
...          ...     ...     ...           ...      ...
6996  2022-01-09    tom2      52          1.54 128 days
6997  2022-01-09    tom2      53          1.72 128 days
6998  2022-01-09    tom2      53          1.65 128 days
6999  2022-01-09    tom2      48          1.90 128 days
7000  2022-01-09    tom2      47          1.50 128 days

[7001 rows x 5 columns]

In [13]:
# int(str(a3_df["diff"][1000]).split("days")[0])
for i in range(len(a3_df)):
    a3_df["diff"][i] = int(str(a3_df["diff"][i]).split("days")[0])
a3_df

C:\Users\acorn\AppData\Local\Temp\ipykernel_17824\2330960644.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a3_df["diff"][i] = int(str(a3_df["diff"][i]).split("days")[0])
C:\Users\acorn\AppData\Local\Temp\ipykernel_17824\2330960644.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a3_df["diff"][i] = int(str(a3_df["diff"][i]).split("days")[0])

            date farm_id  number  stemDiameter diff
0     2021-09-03    tom4       1          1.95    0
1     2021-09-08    tom1     100          1.20    5
2     2021-09-08    tom2       1          0.53    5
3     2021-09-08    tom2      26           NaN    5
4     2021-09-08    tom2      25          0.88    5
...          ...     ...     ...           ...  ...
6996  2022-01-09    tom2      52          1.54  128
6997  2022-01-09    tom2      53          1.72  128
6998  2022-01-09    tom2      53          1.65  128
6999  2022-01-09    tom2      48          1.90  128
7000  2022-01-09    tom2      47          1.50  128

[7001 rows x 5 columns]

In [14]:
a3_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7001 entries, 0 to 7000
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          7001 non-null   object
 1   farm_id       7001 non-null   object
 2   number        7001 non-null   int64
 3   stemDiameter  6694 non-null   float64
 4   diff          7001 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 273.6+ KB

In [15]:
a3_df["diff"] = a3_df["diff"].astype("float64")

In [16]:
a3_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7001 entries, 0 to 7000
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          7001 non-null   object
 1   farm_id       7001 non-null   object
 2   number        7001 non-null   int64
 3   stemDiameter  6694 non-null   float64
 4   diff          7001 non-null   float64
dtypes: float64(2), int64(1), object(2)
memory usage: 273.6+ KB

In [17]:
a3_df["diff"] = a3_df["diff"]+252

In [19]:
a3_df.tail()

            date farm_id  number  stemDiameter   diff
6996  2022-01-09    tom2      52          1.54  380.0
6997  2022-01-09    tom2      53          1.72  380.0
6998  2022-01-09    tom2      53          1.65  380.0
6999  2022-01-09    tom2      48          1.90  380.0
7000  2022-01-09    tom2      47          1.50  380.0

In [1799]:
a3_df= a3_df.groupby(["date"]).mean()
a3_df.head()

               number  stemDiameter  diff
date
2021-09-03   1.000000      1.950000   0.0
2021-09-08  53.485714      0.864118   5.0
2021-09-09  66.000000      0.797500   6.0
2021-09-10  11.100000      1.392000   7.0
2021-09-11  41.950000      1.418500   8.0

In [1800]:
# del a3_df["weeklyGrowth"]
del a3_df["number"]

In [1573]:
pd.set_option("display.max_columns", None)

In [1801]:
a3_df.head()

            stemDiameter  diff
date
2021-09-03      1.950000   0.0
2021-09-08      0.864118   5.0
2021-09-09      0.797500   6.0
2021-09-10      1.392000   7.0
2021-09-11      1.418500   8.0

In [1810]:
a3_df.reset_index(inplace=True)

In [1811]:
a3_df.tail()

           date  stemDiameter   diff
100  2021-12-28      1.340800  116.0
101  2021-12-29      1.392414  117.0
102  2021-12-31      1.339697  119.0
103  2022-01-08      1.560000  127.0
104  2022-01-09      1.635000  128.0

In [1812]:
a1_df.isna().sum()

index          0
date           0
plantHeight    0
diff           0
dtype: int64

In [1813]:
year = []
month = []
day = []
for i in range(len(a3_df)):
    year.append(a3_df["date"][i].split("-")[0])
    month.append(a3_df["date"][i].split("-")[1])
    day.append(a3_df["date"][i].split("-")[2])
    
data = {
#     "number" : a_df,
    "year": year,
    "month": month,
    "day": day,
    "diff" : a3_df["diff"],
    "stemDiameter": a3_df["stemDiameter"]
}

df = pd.DataFrame(data)

In [1814]:
for i in range(len(a3_df)):
    df["month"][i] = int(df["month"][i])

C:\Users\USER\AppData\Local\Temp\ipykernel_1960\3825698305.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["month"][i] = int(df["month"][i])

In [1815]:
df

     year month day   diff  stemDiameter
0    2021     9  03    0.0      1.950000
1    2021     9  08    5.0      0.864118
2    2021     9  09    6.0      0.797500
3    2021     9  10    7.0      1.392000
4    2021     9  11    8.0      1.418500
..    ...   ...  ..    ...           ...
100  2021    12  28  116.0      1.340800
101  2021    12  29  117.0      1.392414
102  2021    12  31  119.0      1.339697
103  2022     1  08  127.0      1.560000
104  2022     1  09  128.0      1.635000

[105 rows x 5 columns]

In [1816]:
for i in range(len(a3_df)):
    if df["month"][i]==1:
        df["month"][i]=13

C:\Users\USER\AppData\Local\Temp\ipykernel_1960\3981511082.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["month"][i]=13

     year month day   diff  stemDiameter
0    2021     9  03    0.0      1.950000
1    2021     9  08    5.0      0.864118
2    2021     9  09    6.0      0.797500
3    2021     9  10    7.0      1.392000
4    2021     9  11    8.0      1.418500
..    ...   ...  ..    ...           ...
100  2021    12  28  116.0      1.340800
101  2021    12  29  117.0      1.392414
102  2021    12  31  119.0      1.339697
103  2022    13  08  127.0      1.560000
104  2022    13  09  128.0      1.635000

[105 rows x 5 columns]

In [1379]:
int(str(df["diff"][1000]).split("days")[0])
for i in range(7001):
    df["diff"][i] = int(str(df["diff"][i]).split("days")[0])
df

C:\Users\USER\AppData\Local\Temp\ipykernel_1960\1322745153.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["diff"][i] = int(str(df["diff"][i]).split("days")[0])
C:\Users\USER\AppData\Local\Temp\ipykernel_1960\1322745153.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["diff"][i] = int(str(df["diff"][i]).split("days")[0])

      number  year month day diff  stemDiameter
0          1  2021     9  03    0          1.95
1         98  2021     9  08    5          1.31
2         76  2021     9  08    5          0.99
3         81  2021     9  08    5          0.28
4         84  2021     9  08    5          0.88
...      ...   ...   ...  ..  ...           ...
6996      52  2022    13  09  128          1.54
6997      53  2022    13  09  128          1.72
6998      53  2022    13  09  128          1.65
6999      48  2022    13  09  128          1.90
7000      47  2022    13  09  128          1.50

[7001 rows x 6 columns]

In [1380]:
df.fillna(df["stemDiameter"].median(), inplace=True)

In [1403]:
df_2 = df.fillna(df["stemDiameter"].median())

In [686]:
df_2 = df.fillna(df["plantHeights"].mean())

In [1625]:
df_2

    year month day   diff  plantHeight
0    0.0    09  10    0.0    28.073333
1    0.0    09  11    1.0    22.356933
2    0.0    09  12    2.0    29.799231
3    0.0    09  17    7.0    26.964828
4    0.0    09  18    8.0    24.522931
..   ...   ...  ..    ...          ...
93   0.0    12  21  102.0    16.369512
94   0.0    12  23  104.0    17.767241
95   0.0    12  24  105.0    28.198154
96   0.0    12  25  106.0    21.176104
97   0.0    12  26  107.0    22.215957

[98 rows x 5 columns]

In [1628]:
scaler = MinMaxScaler()
df_2["year"] = scaler.fit_transform(df_2[["year"]])
# df_2["number"] = scaler.fit_transform(df_2[["number"]])
df_2["day"] = scaler.fit_transform(df_2[["day"]])
df_2["month"] = scaler.fit_transform(df_2[["month"]])
df_2["diff"] = scaler.fit_transform(df_2[["diff"]])

In [1629]:
df_2.tail()

    year  month       day      diff  plantHeight
93   0.0    1.0  0.666667  0.953271    16.369512
94   0.0    1.0  0.733333  0.971963    17.767241
95   0.0    1.0  0.766667  0.981308    28.198154
96   0.0    1.0  0.800000  0.990654    21.176104
97   0.0    1.0  0.833333  1.000000    22.215957

In [1818]:
df.tail()

     year month day   diff  stemDiameter
100  2021    12  28  116.0      1.340800
101  2021    12  29  117.0      1.392414
102  2021    12  31  119.0      1.339697
103  2022    13  08  127.0      1.560000
104  2022    13  09  128.0      1.635000

98

In [2414]:
# 정규화 X 
X = df.iloc[:, :4]
y = df.iloc[:, 4]

In [2583]:
X = df_2.iloc[:, :4]
y = df_2.iloc[:, 4]

In [2584]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=.2)

In [2585]:
deci_model = DecisionTreeRegressor(random_state=42)
rnf_model = RandomForestRegressor(random_state=42)
svm_model = LinearSVR(random_state=42)
knn_model = KNeighborsRegressor()
lin_model = LinearRegression()

voting_hard = VotingRegressor(estimators=[('dt', deci_model), ('rf', rnf_model), ('svr', svm_model), ('knn', knn_model)])
voting_hard.fit(X_train, y_train)

VotingRegressor(estimators=[('dt', DecisionTreeRegressor(random_state=42)),
                            ('rf', RandomForestRegressor(random_state=42)),
                            ('svr', LinearSVR(random_state=42)),
                            ('knn', KNeighborsRegressor())])

In [2586]:
print(voting_hard.score(X_train, y_train))
print(voting_hard.score(X_test, y_test))

0.750075505402241
0.6033597141413246

In [2753]:
param_grid = {"max_depth" : [i for i in range(1, 6)],
              "min_samples_leaf" : [i for i in range(1, 4)],
             "min_samples_split" : [i for i in range(4, 20, 4)], 
             "max_leaf_nodes" : [i for i in range(1, 6)]}
tree = [DecisionTreeRegressor, RandomForestRegressor]
ran_tree = tree[1]()
grid_search = GridSearchCV(ran_tree, param_grid)
grid_search.fit(X_train, y_train)

# 최적의 알파 값
best_alpha = grid_search.best_params_
print(best_alpha)

C:\Users\USER\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
300 fits failed out of a total of 1500.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
300 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\USER\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\USER\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 450, in fit
    trees = Parallel(
  File "C:\Users\USER\anaconda3\lib\site-packages\joblib\parallel.py", line 1043, in __call__
    if self.dispatch_one_batch(iterator):
  File "C:\Users\USER\anaconda3\lib\site-packages\joblib\parallel.py", line 861, in dispatch_one_batch
    self._dispatch(tasks)
  File "C:\Users\USER\anaconda3\lib\site-packages\joblib\parallel.py", line 779, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "C:\Users\USER\anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
  File "C:\Users\USER\anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 572, in __init__
    self.results = batch()
  File "C:\Users\USER\anaconda3\lib\site-packages\joblib\parallel.py", line 262, in __call__
    return [func(*args, **kwargs)
  File "C:\Users\USER\anaconda3\lib\site-packages\joblib\parallel.py", line 262, in <listcomp>
    return [func(*args, **kwargs)
  File "C:\Users\USER\anaconda3\lib\site-packages\sklearn\utils\fixes.py", line 216, in __call__
    return self.function(*args, **kwargs)
  File "C:\Users\USER\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 185, in _parallel_build_trees
    tree.fit(X, y, sample_weight=curr_sample_weight, check_input=False)
  File "C:\Users\USER\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 1315, in fit
    super().fit(
  File "C:\Users\USER\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 314, in fit
    raise ValueError(
ValueError: max_leaf_nodes 1 must be either None or larger than 1

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\USER\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.15864297 0.16024902 0.17639386 0.17350225 0.15570149 0.14824489
 0.15723847 0.15984926 0.14159904 0.13790702 0.154196   0.13502358
 0.16664412 0.17784129 0.16593343 0.17486509 0.15476478 0.15284348
 0.13980124 0.15623004 0.14278326 0.13793043 0.14782377 0.14272138
 0.18409342 0.17509774 0.17303368 0.15725389 0.14997104 0.14131439
 0.14201444 0.15604519 0.14079607 0.14962667 0.15696872 0.14978687
 0.1627213  0.16765653 0.17681103 0.16630897 0.12414026 0.1379857
 0.16077824 0.15820196 0.14744333 0.1306528  0.13960205 0.14337855
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.16662656 0.18002007 0.17260766 0.15743869 0.15178444 0.15957836
 0.15166889 0.15365854 0.13836609 0.15621155 0.14526109 0.14334244
 0.12230695 0.1589996  0.16222391 0.13344207 0.12937786 0.15618225
 0.14405889 0.14371996 0.1382255  0.15135295 0.114078   0.12678603
 0.13923167 0.1369653  0.14915021 0.17263479 0.1334992  0.14136715
 0.14437746 0.14228865 0.10892467 0.11432691 0.11654251 0.1531071
 0.16472855 0.15083942 0.14307447 0.15635783 0.14140427 0.13104758
 0.1177052  0.12587912 0.13027974 0.12589884 0.12344043 0.11922007
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.16133695 0.18789182 0.16156734 0.15929002 0.16047477 0.16270195
 0.14364169 0.15407064 0.14375471 0.14651732 0.14438671 0.14231581
 0.16957563 0.17302307 0.17766533 0.16278056 0.15992752 0.14668443
 0.13716726 0.14544042 0.12630558 0.12344474 0.11508934 0.13649744
 0.1093563  0.13703132 0.10546278 0.14418018 0.13868257 0.12764058
 0.12195303 0.14466653 0.14058873 0.09667114 0.11444573 0.11737146
 0.11669523 0.14683354 0.15097568 0.14189237 0.13973746 0.14326877
 0.13632695 0.13068557 0.1146651  0.11393441 0.0950554  0.12935551
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.1673809  0.14292306 0.14283459 0.15604785 0.1606691  0.15670058
 0.14458787 0.15604559 0.15094286 0.15976159 0.13972067 0.1542493
 0.14969895 0.15299879 0.14762977 0.15929985 0.12245382 0.14184582
 0.133639   0.12978364 0.11246897 0.12382331 0.11721241 0.13383023
 0.12086047 0.14544881 0.13457139 0.11856909 0.15106968 0.12862355
 0.140778   0.15760943 0.11763624 0.1238792  0.13295485 0.13147691
 0.10785111 0.15451746 0.13046509 0.1247307  0.1147802  0.12957505
 0.1225118  0.15371297 0.10221832 0.0919186  0.14832801 0.127553
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.18356656 0.16813193 0.16154202 0.1530391  0.1492398  0.14362
 0.14781465 0.15893827 0.14241093 0.14426346 0.14991408 0.1212778
 0.15984523 0.15037097 0.14198058 0.14141992 0.156125   0.14082894
 0.13840081 0.1527444  0.1250525  0.09934108 0.11402223 0.12937201
 0.10331836 0.13871287 0.13530867 0.1432375  0.12570082 0.14483738
 0.12645117 0.14116614 0.11877143 0.11826259 0.12388971 0.11543535
 0.119194   0.10658507 0.13330848 0.13597834 0.11749788 0.1068146
 0.15099829 0.1512697  0.10772843 0.14699824 0.1073236  0.12226242]
  warnings.warn(

{'max_depth': 3, 'max_leaf_nodes': 2, 'min_samples_leaf': 1, 'min_samples_split': 8}

In [1679]:
param_grid = {"n_neighbors" : [i for i in range(1, 20, 2)]}

knn_tree = KNeighborsRegressor()
grid_search = GridSearchCV(knn_tree, param_grid)
grid_search.fit(X_train, y_train)

# 최적의 알파 값
best_alpha = grid_search.best_params_
print(best_alpha)

{'n_neighbors': 17}

In [2587]:
param_grid = {"n_estimators" : [i for i in range(10, 100, 10)],
             "learning_rate" : [0.1, 0.01, 0.001, 10, 100, 1000]
#               "max_depth" : [i for i in range(1, 6)],
#               "min_samples_leaf" : [i for i in range(1, 10)]
             }
mo1 = [BaggingRegressor, GradientBoostingRegressor, AdaBoostRegressor, XGBRegressor, LGBMRegressor]

en_tree = mo1[2]()
grid_search = GridSearchCV(en_tree, param_grid)
grid_search.fit(X_train, y_train)

# 최적의 알파 값
best_alpha = grid_search.best_params_
print(best_alpha)

{'learning_rate': 0.001, 'n_estimators': 80}

In [2392]:
grid_search.best_params_

{'learning_rate': 0.01,
 'max_depth': 3,
 'min_samples_leaf': 1,
 'n_estimators': 90}

In [1617]:
param_grid = {"alpha" : [0.1, 0.01, 0.001, 10, 100, 1000]}
linear = [LinearRegression, Ridge, Lasso, ElasticNet]
knn_tree = linear[1]()
grid_search = GridSearchCV(knn_tree, param_grid)
grid_search.fit(X_train, y_train)

# 최적의 알파 값
best_alpha = grid_search.best_params_
print(best_alpha)

{'alpha': 1000}

In [2094]:
model = DecisionTreeRegressor(max_depth=2, min_samples_split=8, max_leaf_nodes=5, min_samples_leaf=3, random_state=42)

In [2406]:
model = AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=7, min_samples_leaf=2), n_estimators=80, learning_rate=0.001, random_state=42)

In [2408]:
model = KNeighborsRegressor(n_neighbors=17)

In [2412]:
model = LinearRegression()

In [2410]:
model = LinearSVR(C=10.0, max_iter=10000, random_state=42)

In [2398]:
?AdaBoostRegressor

In [2389]:
?GradientBoostingRegressor

In [2754]:
model = AdaBoostRegressor(base_estimator=RandomForestRegressor(max_depth=3, min_samples_leaf=1, min_samples_split=8, max_leaf_nodes=2), n_estimators=40, learning_rate=0.5, random_state=42)

In [2755]:
model.fit(X_train, y_train)
print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

pred = model.predict(X_train)
RMSE = np.sqrt(mean_squared_error(y_train, pred))

print("훈련 데이터 RMSE : ", RMSE)

pred = model.predict(X_test)
RMSE2 = np.sqrt(mean_squared_error(y_test, pred))
print("테스트 데이터 RMSE : ", RMSE2)

0.4164485567753672
0.4657523091869161
훈련 데이터 RMSE :  3.30993684628067
테스트 데이터 RMSE :  2.977856382231251

In [2498]:
## BagginRegressor 
n_estimatores , 
## GradientBoostingRegressor
n_estimators, learning_rate, max_depth, min_samples_split, 
min_samples_leaf, random_state
## AdaBoostRegressor
n_estimators, learning_rate

NameError: name 'n_estimatores' is not defined

In [642]:
## a1
# Lasso, Elastic
print(model.score(X_train, y_train)) 0.0   0.06307797284761074
print(model.score(X_test, y_test)) -0.0001681580148298334  0.049864151054912154

# LinearRegression, Ridge
print(model.score(X_train, y_train)) 0.025163551874011536 0.06567814077615453
print(model.score(X_test, y_test))   0.017226833297852018    0.05041648043836655

#랜덤포레스트 
print(model.score(X_train, y_train)) 0.14444287030371417 0.18822096571394153
print(model.score(X_test, y_test)) 0.1037651350031179  0.17299707859737512
# DecisionTree
0.11684896638191256  0.16848490683964357
0.0880533102392399    0.15774832752033996

## VotingRegressor
print(voting_hard.score(X_train, y_train)) 0.5189267241703408  0.5656493759246521
print(voting_hard.score(X_test, y_test)) 0.2895584582514803    0.33012374795070687
# LinearSVR
-0.11305041727905785
-0.12779619977340428

# KneighborsRegressor
0.42041775732748077   0.5143544883653974
0.2506171007851824    0.2571792927751413

## BagginbRegressor
0.5816130856703922
0.2705489099970829

# GradientRegressor
0.06056264308244219   0.10587383286971863
0.04873976623780485     0.10413896530267175

#AdaRegressor
-0.001339810592363433  0.11825208924758601
-0.011333718451214558  0.11788522693879366

SyntaxError: invalid syntax (3538220457.py, line 2)

In [ ]:
## a3
# Lasso, Elastic
print(model.score(X_train, y_train)) 0.0   0.012712349257059441
print(model.score(X_test, y_test)) -0.0001681580148298334  -0.00031506712250450875
# LinearRegression, Ridge
print(model.score(X_train, y_train)) 0.0066077165455955544 0.06567814077615453
print(model.score(X_test, y_test)) 0.005230372363604796   0.05041648043836655

#랜덤포레스트 
print(model.score(X_train, y_train)) 0.14611282713198580.18822096571394153

print(model.score(X_test, y_test)) 0.11437972898302129   0.17299707859737512
# DecisionTree
0.10198129745447893   0.16848490683964357
0.04764831958230065  0.15774832752033996

## VotingRegressor
print(voting_hard.score(X_train, y_train)) 0.558296590740722  0.6174083380241107
print(voting_hard.score(X_test, y_test)) 0.1597879416846789   0.2227093224111396
# LinearSVR
-0.11305041727905785
-0.12779619977340428 

# KneighborsRegressor
0.307203985532603    0.5143544883653974
0.09202571292680262    0.2571792927751413

## BagginbRegressor
0.6992198907793836  0.6987638383762833
0.14365851842905175  0.14412454342705372

# GradientRegressor
0.10255795735087003    0.10587383286971863
0.08566640280301507    0.10413896530267175

#AdaRegressor
-0.001339810592363433  0.11825208924758601
-0.011333718451214558  0.11788522693879366

In [ ]:
#VotingRegressor
0.6460885179497575      0.750075505402241
0.5682266284604455      0.6033597141413246

#RandomForestRegressor
0.34837317834820924      0.347684718473497
0.6102493569659706       0.6102493569659706

# DecisionREgressor
0.39524856475749326     0.39524856475749326
0.7005819664385693      0.7005819664385693

#BaggingRegressor
0.8916350618480308    0.8813551937801679
0.6192779868657017    0.5522413672083096

#GradientRegressor
0.5307206380450635     0.5307206380450635
0.535162399166561      0.535162399166561

# AdaBoostRegresoor
0.6202520109865832     0.6415644128381621
0.6237795492253261     0.6823043240179871

#ElasticNet
0.2398971175950697
0.5779311823365225

# Ridge
0.24462308358236884
0.5921593706941731

# KNN
0.3159468338847974
0.606149567797504

In [ ]:
## Bagging +Random (n_estimators=80)
0.7412702989386795
0.7491618845341956

## Bagging + Decision n_estimators=1000, random_state=42
0.8979516999474726
0.6607339181292184

## Adagressor + Deci(n_esti =60, learning_rate=0.006)
1.0
0.5125559266765742

## AdaRegressor + Random(n_esti=60, learning_rate=0.001)
0.8877719791172114
0.6390421173417722

## AdaRegressor + Decision(max_depth=7, min_sample_lear=2, n_esti=60, lr = 0.001)
0.8431750911899867
0.7111686222781137

## AdaRegressor + Deci(max_depth=8, min_sample_leaf=2), n_esti=60, le=0.00500
0.8674577401308349
0.7355543819358225

In [ ]:
# 사용할 컬럼 선택
a1 = df_0[df_0["type"] == "a1"][["farmId", "number","date", "plantHeight", "weeklyGrowth"]]
a2 = df_0[df_0["type"] == "a2"][["farmId", "number","date", "heightOfTheFlowerTruss"]]
a3 = df_0[df_0["type"] == "a3"][["farmId", "number","date", "stemDiameter"]]

# 카피
a2_df = a2.copy()
# 결측치 median
a2_df = a2_df.fillna(a2_df["heightOfTheFlowerTruss"].median())

# 날짜 나누기
a2_df['year'] = a2_df['date'] // 10000
a2_df['month'] = (a2_df['date'] % 10000) // 100
a2_df['day'] = a2_df['date'] % 100

# 'date' 컬럼 삭제
a2_df.drop('date', axis=1, inplace=True)


# 컬럼 위치 변경
new_order = ["number", "year", "month", "day", "heightOfTheFlowerTruss"]
a2_df = a2_df.reindex(columns=new_order)
a2_df.head(4)

a2_df['YMD'] = a2_df['year'].astype(str) + a2_df['month'].astype(str).str.zfill(2) + a2_df['day'].astype(str).str.zfill(2)




# 기준 날짜
standard_date = datetime(2021, 9, 1)

# 기준날짜에서 며칠이 지났는지 계산하고 passdays 추가 
a2_df['passdays'] = (pd.to_datetime(a2_df['YMD'], format='%Y%m%d') - standard_date).dt.days

# 결과 출력
a2_df.head(4)


#### 데이터프레임 정리리
a2_df_days = a2_df.copy()
# del a2_df_days["year"]
# del a2_df_days["month"]
# del a2_df_days["day"]
del a2_df_days["YMD"]
# del a2_df_days["number"]

a2_df_days = a2_df_days.sort_values("passdays")


# Minmaxscaler 정규화 0~1
scaler = MinMaxScaler()
X = pd.DataFrame()
y = pd.DataFrame()

X["passdays"] = scaler.fit_transform(a2_df_days[["passdays"]]).flatten()
y["heightOfTheFlowerTruss"] = scaler.fit_transform(a2_df_days[["heightOfTheFlowerTruss"]]).flatten()


# 차원 변환
X = np.array(X).reshape(-1, 1)
y = np.array(y).reshape(-1)
print(X.shape, y.shape)

In [45]:
en_df = pd.read_csv("D:\\097.지능형 스마트팜 통합 데이터(토마토)\\01.데이터\\1.Training\\원천데이터\\TS_Timeseries\\tom5\\01_(함수율저울,열화상센서,작물환경센서)\\MV.csv", encoding="utf-8")
en_df

,time,EC급액,EC배액,pH급액,pH배액,저울급액,저울배액,온도토양,온도급액,온도배액,내부이산화탄소,내부광량,내부PT100온도센서1번건구,내부PT100온도센서2번습구,내부PT100온도센서3번,내부PT100센서를이용한계산습도
0,2021-11-10 12:02:30,3.14632,5.32324,6.052,5.538,11.064580,0.000822,17.4375,18.7500,18.6875,348,133.2964,23.87391,24.04304,23.603380,100.00000
1,2021-11-10 12:02:41,3.14659,5.32427,6.052,5.537,11.063390,0.001110,17.4375,18.7500,18.6875,346,147.1777,23.87391,24.04304,23.569520,100.00000
2,2021-11-10 12:02:52,3.14679,5.32473,6.054,5.536,11.063970,0.000500,17.4375,18.7500,18.6875,346,184.3153,23.90778,24.04304,23.603380,100.00000
3,2021-11-10 12:03:03,3.14750,5.32562,6.052,5.535,11.062030,0.001028,17.4375,18.7500,18.6875,346,143.5261,23.90778,24.04304,23.603380,100.00000
4,2021-11-10 12:03:26,3.14760,5.32674,6.056,5.539,11.058750,0.000315,17.4375,18.7500,18.6875,342,140.5737,23.97531,24.11057,23.603380,100.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16978,2021-11-30 04:35:24,2.39585,3.26375,6.659,6.541,7.328894,6.880001,11.3125,10.0625,10.4375,546,0.0000,11.25086,10.44250,9.567021,94.76980
16979,2021-11-30 04:35:35,2.39531,3.26373,6.655,6.543,7.329947,6.879829,11.3125,10.0625,10.4375,547,0.0000,11.21720,10.44250,9.533357,94.98141
16980,2021-12-21 12:00:54,2.92697,4.82455,6.225,7.078,7.954531,1.069781,14.3125,19.5000,19.1250,310,189.8574,26.14033,23.09620,25.328350,83.35831
16981,2021-12-21 12:02:16,2.92760,4.82991,6.138,6.991,7.948407,1.070007,14.3750,19.5625,19.1875,322,176.2610,26.20786,23.06253,25.395880,82.85738
16982,2021-12-21 12:02:27,2.92700,4.82404,6.138,6.985,7.944477,1.070747,14.3750,19.5625,19.1875,328,175.7431,26.24173,23.09620,25.395880,82.86031

In [28]:
dt = en_df["time"][0].split(" ")
dt2 = dt[1].split(":")[0]

In [46]:
for i in range(len(en_df)):
    en_df["time"][i] = en_df["time"][i].split(" ")[0]+" "+en_df["time"][i].split(" ")[1].split(":")[0]
en_df

C:\Users\acorn\AppData\Local\Temp\ipykernel_17824\1746823056.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  en_df["time"][i] = en_df["time"][i].split(" ")[0]+" "+en_df["time"][i].split(" ")[1].split(":")[0]

,time,EC급액,EC배액,pH급액,pH배액,저울급액,저울배액,온도토양,온도급액,온도배액,내부이산화탄소,내부광량,내부PT100온도센서1번건구,내부PT100온도센서2번습구,내부PT100온도센서3번,내부PT100센서를이용한계산습도
0,2021-11-10 12,3.14632,5.32324,6.052,5.538,11.064580,0.000822,17.4375,18.7500,18.6875,348,133.2964,23.87391,24.04304,23.603380,100.00000
1,2021-11-10 12,3.14659,5.32427,6.052,5.537,11.063390,0.001110,17.4375,18.7500,18.6875,346,147.1777,23.87391,24.04304,23.569520,100.00000
2,2021-11-10 12,3.14679,5.32473,6.054,5.536,11.063970,0.000500,17.4375,18.7500,18.6875,346,184.3153,23.90778,24.04304,23.603380,100.00000
3,2021-11-10 12,3.14750,5.32562,6.052,5.535,11.062030,0.001028,17.4375,18.7500,18.6875,346,143.5261,23.90778,24.04304,23.603380,100.00000
4,2021-11-10 12,3.14760,5.32674,6.056,5.539,11.058750,0.000315,17.4375,18.7500,18.6875,342,140.5737,23.97531,24.11057,23.603380,100.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16978,2021-11-30 04,2.39585,3.26375,6.659,6.541,7.328894,6.880001,11.3125,10.0625,10.4375,546,0.0000,11.25086,10.44250,9.567021,94.76980
16979,2021-11-30 04,2.39531,3.26373,6.655,6.543,7.329947,6.879829,11.3125,10.0625,10.4375,547,0.0000,11.21720,10.44250,9.533357,94.98141
16980,2021-12-21 12,2.92697,4.82455,6.225,7.078,7.954531,1.069781,14.3125,19.5000,19.1250,310,189.8574,26.14033,23.09620,25.328350,83.35831
16981,2021-12-21 12,2.92760,4.82991,6.138,6.991,7.948407,1.070007,14.3750,19.5625,19.1875,322,176.2610,26.20786,23.06253,25.395880,82.85738
16982,2021-12-21 12,2.92700,4.82404,6.138,6.985,7.944477,1.070747,14.3750,19.5625,19.1875,328,175.7431,26.24173,23.09620,25.395880,82.86031

In [48]:
en_df = en_df.groupby("time").mean()

In [50]:
en_df.to_csv("D:\\097.지능형 스마트팜 통합 데이터(토마토)\\01.데이터\\1.Training\\csv 파일(DF)\\tom5_env.csv", encoding="utf-8")

KeyError: '2021-11-10'

In [41]:
tom5_env_df["time"][0].split(" ")[0]

'2021-11-10'