In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import cv2
import zipfile
import shutil
import os
import glob

#matplot 한글폰트 설정
import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname="C:\Windows\Fonts\GULIM.TTC").get_name()
plt.rc("font", family = font_name)

import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"]= False

In [38]:
df1 = pd.read_csv("C:/seokwonna/pythonwork/AI/FinalProject/csv_file/csv_file/6번농장_concat.csv", index_col= 0)
df1

,채널1 구역,날짜,시간,설정량1,설정량2,설정량3,설정량4,설정량5,설정량6,설정량7,...,G2,G3,J/30min,J/Day,경보내용,경보데이터,동작구역회수,전구역관수횟수,유량센서카운트,유량(L)
0,0,2021-10-1,0:0:48,100,100,,,,,,...,0,0,0,1453,경보없음,0:0:0:0:0:0:0:0:0:0:,0,0:0:0:0:0:0:0:0:0:0:0:0:,0,0
1,0,2021-10-1,0:1:46,100,100,,,,,,...,0,0,0,1453,경보없음,0:0:0:0:0:0:0:0:0:0:,0,0:0:0:0:0:0:0:0:0:0:0:0:,0,0
2,0,2021-10-1,0:2:48,100,100,,,,,,...,0,0,0,1453,경보없음,0:0:0:0:0:0:0:0:0:0:,0,0:0:0:0:0:0:0:0:0:0:0:0:,0,0
3,0,2021-10-1,0:3:46,100,100,,,,,,...,0,0,0,1453,경보없음,0:0:0:0:0:0:0:0:0:0:,0,0:0:0:0:0:0:0:0:0:0:0:0:,0,0
4,0,2021-10-1,0:4:49,100,100,,,,,,...,0,0,0,1453,경보없음,0:0:0:0:0:0:0:0:0:0:,0,0:0:0:0:0:0:0:0:0:0:0:0:,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152993,0,2022-1-26,10:12:45,220,220,,,,,,...,0,0,0,0,경보없음,0:0:0:0:0:0:0:0:0:0:,0,1:1:0:0:0:0:0:0:0:0:0:0:,330,3300
152994,0,2022-1-26,10:13:47,220,220,,,,,,...,0,0,0,0,경보없음,0:0:0:0:0:0:0:0:0:0:,0,1:1:0:0:0:0:0:0:0:0:0:0:,330,3300
152995,0,2022-1-26,10:14:48,220,220,,,,,,...,0,0,0,0,경보없음,0:0:0:0:0:0:0:0:0:0:,0,1:1:0:0:0:0:0:0:0:0:0:0:,330,3300
152996,0,2022-1-26,10:15:45,220,220,,,,,,...,0,0,0,0,경보없음,0:0:0:0:0:0:0:0:0:0:,0,1:1:0:0:0:0:0:0:0:0:0:0:,330,3300
152997,0,2022-1-26,10:16:44,220,220,,,,,,...,0,0,0,0,경보없음,0:0:0:0:0:0:0:0:0:0:,0,1:1:0:0:0:0:0:0:0:0:0:0:,330,3300

In [39]:
df2 = pd.read_csv("C:/seokwonna/pythonwork/AI/FinalProject/csv_file/csv_file/6번농장_df4.csv", index_col= 0)
df2

,time,EC급액,EC배액,pH급액,pH배액,저울급액,저울배액,온도토양,온도급액,온도배액,내부이산화탄소,내부광량,내부PT100온도센서1번건구,내부PT100온도센서2번습구,내부PT100온도센서3번,내부PT100센서를이용한계산습도
0,2021-10-25 11:17:56,2.74636,3.66298,6.999,6.999,15.92036,11.631090,-1000.0000,-1000.000,-1000.0000,361,283.7639,26.54632,23.43446,25.49748,83.06425
1,2021-10-25 11:19:32,2.75214,3.67861,5.951,6.768,15.90217,5.444240,21.0625,25.250,23.2500,345,302.7681,26.68179,24.04304,25.70047,85.47836
2,2021-10-25 11:19:52,2.75226,3.68064,5.949,6.767,15.89678,5.444737,21.1250,25.250,23.2500,343,312.3976,26.74932,24.14444,25.80187,85.65901
3,2021-10-25 11:20:11,2.75272,3.68274,5.950,6.767,15.89341,5.444588,21.1250,25.250,23.2500,341,323.1989,26.78319,24.27970,25.90347,86.18481
4,2021-10-25 11:20:17,2.75373,3.68332,5.950,6.767,15.89192,5.445156,21.1250,25.250,23.2500,341,327.1220,26.81705,24.31357,25.90347,86.18805
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50829,2021-12-21 11:58:58,2.79595,3.31343,5.509,6.016,17.66788,1.393139,17.8750,20.375,19.5000,454,202.3489,23.56952,20.66306,21.06845,83.77094
50830,2021-12-21 11:59:10,2.79612,3.31431,5.508,6.017,17.66263,1.393955,17.8750,20.375,19.4375,454,201.5421,23.60338,20.62940,21.10232,83.42696
50831,2021-12-21 12:00:29,2.79712,3.31740,5.494,6.008,17.66515,1.392826,17.8750,20.375,19.3125,455,187.4236,23.50199,20.46047,21.16985,83.06867
50832,2021-12-21 12:00:52,2.79726,3.31821,5.495,6.007,17.66324,1.393579,17.8750,20.375,19.2500,454,188.7346,23.46812,20.42661,21.33878,83.06474
50833,2021-12-21 12:01:15,2.79783,3.31918,5.496,6.004,17.66407,1.393997,17.8750,20.375,19.2500,449,184.6755,23.53585,20.39274,21.50771,82.55348

In [40]:
df2.columns

Index(['time', 'EC급액', 'EC배액', 'pH급액', 'pH배액', '저울급액', '저울배액', '온도토양', '온도급액',
       '온도배액', '내부이산화탄소', '내부광량', '내부PT100온도센서1번건구', '내부PT100온도센서2번습구',
       '내부PT100온도센서3번', '내부PT100센서를이용한계산습도'],
      dtype='object')

In [41]:
df2.head()

,time,EC급액,EC배액,pH급액,pH배액,저울급액,저울배액,온도토양,온도급액,온도배액,내부이산화탄소,내부광량,내부PT100온도센서1번건구,내부PT100온도센서2번습구,내부PT100온도센서3번,내부PT100센서를이용한계산습도
0,2021-10-25 11:17:56,2.74636,3.66298,6.999,6.999,15.92036,11.631090,-1000.0000,-1000.00,-1000.00,361,283.7639,26.54632,23.43446,25.49748,83.06425
1,2021-10-25 11:19:32,2.75214,3.67861,5.951,6.768,15.90217,5.444240,21.0625,25.25,23.25,345,302.7681,26.68179,24.04304,25.70047,85.47836
2,2021-10-25 11:19:52,2.75226,3.68064,5.949,6.767,15.89678,5.444737,21.1250,25.25,23.25,343,312.3976,26.74932,24.14444,25.80187,85.65901
3,2021-10-25 11:20:11,2.75272,3.68274,5.950,6.767,15.89341,5.444588,21.1250,25.25,23.25,341,323.1989,26.78319,24.27970,25.90347,86.18481
4,2021-10-25 11:20:17,2.75373,3.68332,5.950,6.767,15.89192,5.445156,21.1250,25.25,23.25,341,327.1220,26.81705,24.31357,25.90347,86.18805

In [42]:
df1.columns

Index(['채널1 구역', ' 날짜 ', ' 시간 ', ' 설정량1  ', ' 설정량2  ', ' 설정량3  ', ' 설정량4  ',
       ' 설정량5  ', ' 설정량6  ', ' 설정량7  ', ' 설정량8  ', ' 설정량9  ', ' 설정량10  ',
       ' 설정량11  ', ' 설정량12  ', ' 잔여량1  ', ' 잔여량2  ', ' 잔여량3  ', ' 잔여량4  ',
       ' 잔여량5  ', ' 잔여량6  ', ' 잔여량7  ', ' 잔여량8  ', ' 잔여량9  ', ' 잔여량10  ',
       ' 잔여량11  ', ' 잔여량12  ', ' 누적량1  ', ' 누적량2  ', ' 누적량3  ', ' 누적량4  ',
       ' 누적량5  ', ' 누적량6  ', ' 누적량7  ', ' 누적량8  ', ' 누적량9  ', ' 누적량10  ',
       ' 누적량11  ', ' 누적량12  ', ' 시작 ', ' 종료 ', ' 설정EC(dS) ', ' 현재EC(dS) ',
       ' 설정PH(pH) ', ' 현재PH(pH) ', ' 일출시간 ', ' 일몰시간 ', ' 현재일사(W) ',
       ' 누적일사(J) ', ' 유량펄스 ', ' 함수율(%) ', ' 배지EC(dS) ', ' 배지온도(도) ',
       ' 실내온도(도) ', ' 실내습도(도) ', ' 수분부족분(g/M) ', ' 배관EC(dS)  ', ' G1 ', ' G2 ',
       ' G3 ', ' J/30min ', ' J/Day ', '경보내용', '경보데이터', '동작구역회수', '전구역관수횟수',
       '유량센서카운트', '유량(L) '],
      dtype='object')

In [43]:
for index, column in enumerate(df1.columns):
    print(f"Index: {index}, Column: {column}")

Index: 0, Column: 채널1 구역
Index: 1, Column:  날짜
Index: 2, Column:  시간
Index: 3, Column:  설정량1
Index: 4, Column:  설정량2
Index: 5, Column:  설정량3
Index: 6, Column:  설정량4
Index: 7, Column:  설정량5
Index: 8, Column:  설정량6
Index: 9, Column:  설정량7
Index: 10, Column:  설정량8
Index: 11, Column:  설정량9
Index: 12, Column:  설정량10
Index: 13, Column:  설정량11
Index: 14, Column:  설정량12
Index: 15, Column:  잔여량1
Index: 16, Column:  잔여량2
Index: 17, Column:  잔여량3
Index: 18, Column:  잔여량4
Index: 19, Column:  잔여량5
Index: 20, Column:  잔여량6
Index: 21, Column:  잔여량7
Index: 22, Column:  잔여량8
Index: 23, Column:  잔여량9
Index: 24, Column:  잔여량10
Index: 25, Column:  잔여량11
Index: 26, Column:  잔여량12
Index: 27, Column:  누적량1
Index: 28, Column:  누적량2
Index: 29, Column:  누적량3
Index: 30, Column:  누적량4
Index: 31, Column:  누적량5
Index: 32, Column:  누적량6
Index: 33, Column:  누적량7
Index: 34, Column:  누적량8
Index: 35, Column:  누적량9
Index: 36, Column:  누적량10
Index: 37, Column:  누적량11
Index: 38, Column:  누적량12
Index: 39, Column:  시작
Index: 40, Column:  종료
Index: 41, Column:  설정EC(dS)
Index: 42, Column:  현재EC(dS)
Index: 43, Column:  설정PH(pH)
Index: 44, Column:  현재PH(pH)
Index: 45, Column:  일출시간
Index: 46, Column:  일몰시간
Index: 47, Column:  현재일사(W)
Index: 48, Column:  누적일사(J)
Index: 49, Column:  유량펄스
Index: 50, Column:  함수율(%)
Index: 51, Column:  배지EC(dS)
Index: 52, Column:  배지온도(도)
Index: 53, Column:  실내온도(도)
Index: 54, Column:  실내습도(도)
Index: 55, Column:  수분부족분(g/M)
Index: 56, Column:  배관EC(dS)
Index: 57, Column:  G1
Index: 58, Column:  G2
Index: 59, Column:  G3
Index: 60, Column:  J/30min
Index: 61, Column:  J/Day
Index: 62, Column: 경보내용
Index: 63, Column: 경보데이터
Index: 64, Column: 동작구역회수
Index: 65, Column: 전구역관수횟수
Index: 66, Column: 유량센서카운트
Index: 67, Column: 유량(L)

In [44]:
selected_df1 = df1.iloc[:, [1, 2, 61]]
selected_df1

                 날짜           시간    J/Day
0        2021-10-1       0:0:48       1453
1        2021-10-1       0:1:46       1453
2        2021-10-1       0:2:48       1453
3        2021-10-1       0:3:46       1453
4        2021-10-1       0:4:49       1453
...              ...          ...      ...
152993   2022-1-26     10:12:45          0
152994   2022-1-26     10:13:47          0
152995   2022-1-26     10:14:48          0
152996   2022-1-26     10:15:45          0
152997   2022-1-26     10:16:44          0

[152998 rows x 3 columns]

In [45]:
df2.columns

Index(['time', 'EC급액', 'EC배액', 'pH급액', 'pH배액', '저울급액', '저울배액', '온도토양', '온도급액',
       '온도배액', '내부이산화탄소', '내부광량', '내부PT100온도센서1번건구', '내부PT100온도센서2번습구',
       '내부PT100온도센서3번', '내부PT100센서를이용한계산습도'],
      dtype='object')

In [46]:
for index, column in enumerate(df2.columns):
    print(f"Index: {index}, Column: {column}")

Index: 0, Column: time
Index: 1, Column: EC급액
Index: 2, Column: EC배액
Index: 3, Column: pH급액
Index: 4, Column: pH배액
Index: 5, Column: 저울급액
Index: 6, Column: 저울배액
Index: 7, Column: 온도토양
Index: 8, Column: 온도급액
Index: 9, Column: 온도배액
Index: 10, Column: 내부이산화탄소
Index: 11, Column: 내부광량
Index: 12, Column: 내부PT100온도센서1번건구
Index: 13, Column: 내부PT100온도센서2번습구
Index: 14, Column: 내부PT100온도센서3번
Index: 15, Column: 내부PT100센서를이용한계산습도

In [47]:
selected_df2 = df2.iloc[:, [0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13, 14, 15]]
selected_df2.head()

,time,EC급액,EC배액,pH급액,pH배액,온도토양,온도급액,온도배액,내부이산화탄소,내부광량,내부PT100온도센서1번건구,내부PT100온도센서2번습구,내부PT100온도센서3번,내부PT100센서를이용한계산습도
0,2021-10-25 11:17:56,2.74636,3.66298,6.999,6.999,-1000.0000,-1000.00,-1000.00,361,283.7639,26.54632,23.43446,25.49748,83.06425
1,2021-10-25 11:19:32,2.75214,3.67861,5.951,6.768,21.0625,25.25,23.25,345,302.7681,26.68179,24.04304,25.70047,85.47836
2,2021-10-25 11:19:52,2.75226,3.68064,5.949,6.767,21.1250,25.25,23.25,343,312.3976,26.74932,24.14444,25.80187,85.65901
3,2021-10-25 11:20:11,2.75272,3.68274,5.950,6.767,21.1250,25.25,23.25,341,323.1989,26.78319,24.27970,25.90347,86.18481
4,2021-10-25 11:20:17,2.75373,3.68332,5.950,6.767,21.1250,25.25,23.25,341,327.1220,26.81705,24.31357,25.90347,86.18805

In [48]:
df2.head()

,time,EC급액,EC배액,pH급액,pH배액,저울급액,저울배액,온도토양,온도급액,온도배액,내부이산화탄소,내부광량,내부PT100온도센서1번건구,내부PT100온도센서2번습구,내부PT100온도센서3번,내부PT100센서를이용한계산습도
0,2021-10-25 11:17:56,2.74636,3.66298,6.999,6.999,15.92036,11.631090,-1000.0000,-1000.00,-1000.00,361,283.7639,26.54632,23.43446,25.49748,83.06425
1,2021-10-25 11:19:32,2.75214,3.67861,5.951,6.768,15.90217,5.444240,21.0625,25.25,23.25,345,302.7681,26.68179,24.04304,25.70047,85.47836
2,2021-10-25 11:19:52,2.75226,3.68064,5.949,6.767,15.89678,5.444737,21.1250,25.25,23.25,343,312.3976,26.74932,24.14444,25.80187,85.65901
3,2021-10-25 11:20:11,2.75272,3.68274,5.950,6.767,15.89341,5.444588,21.1250,25.25,23.25,341,323.1989,26.78319,24.27970,25.90347,86.18481
4,2021-10-25 11:20:17,2.75373,3.68332,5.950,6.767,15.89192,5.445156,21.1250,25.25,23.25,341,327.1220,26.81705,24.31357,25.90347,86.18805

In [49]:
selected_df2["평균온도(℃)"] = (selected_df2['내부PT100온도센서1번건구'] + selected_df2['내부PT100온도센서2번습구'] + selected_df2['내부PT100온도센서3번'])/3
selected_df2

C:\Users\acorn\AppData\Local\Temp\ipykernel_3552\2562174803.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_df2["평균온도(℃)"] = (selected_df2['내부PT100온도센서1번건구'] + selected_df2['내부PT100온도센서2번습구'] + selected_df2['내부PT100온도센서3번'])/3

,time,EC급액,EC배액,pH급액,pH배액,온도토양,온도급액,온도배액,내부이산화탄소,내부광량,내부PT100온도센서1번건구,내부PT100온도센서2번습구,내부PT100온도센서3번,내부PT100센서를이용한계산습도,평균온도(℃)
0,2021-10-25 11:17:56,2.74636,3.66298,6.999,6.999,-1000.0000,-1000.000,-1000.0000,361,283.7639,26.54632,23.43446,25.49748,83.06425,25.159420
1,2021-10-25 11:19:32,2.75214,3.67861,5.951,6.768,21.0625,25.250,23.2500,345,302.7681,26.68179,24.04304,25.70047,85.47836,25.475100
2,2021-10-25 11:19:52,2.75226,3.68064,5.949,6.767,21.1250,25.250,23.2500,343,312.3976,26.74932,24.14444,25.80187,85.65901,25.565210
3,2021-10-25 11:20:11,2.75272,3.68274,5.950,6.767,21.1250,25.250,23.2500,341,323.1989,26.78319,24.27970,25.90347,86.18481,25.655453
4,2021-10-25 11:20:17,2.75373,3.68332,5.950,6.767,21.1250,25.250,23.2500,341,327.1220,26.81705,24.31357,25.90347,86.18805,25.678030
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50829,2021-12-21 11:58:58,2.79595,3.31343,5.509,6.016,17.8750,20.375,19.5000,454,202.3489,23.56952,20.66306,21.06845,83.77094,21.767010
50830,2021-12-21 11:59:10,2.79612,3.31431,5.508,6.017,17.8750,20.375,19.4375,454,201.5421,23.60338,20.62940,21.10232,83.42696,21.778367
50831,2021-12-21 12:00:29,2.79712,3.31740,5.494,6.008,17.8750,20.375,19.3125,455,187.4236,23.50199,20.46047,21.16985,83.06867,21.710770
50832,2021-12-21 12:00:52,2.79726,3.31821,5.495,6.007,17.8750,20.375,19.2500,454,188.7346,23.46812,20.42661,21.33878,83.06474,21.744503
50833,2021-12-21 12:01:15,2.79783,3.31918,5.496,6.004,17.8750,20.375,19.2500,449,184.6755,23.53585,20.39274,21.50771,82.55348,21.812100

In [50]:
selected_df2.columns

Index(['time', 'EC급액', 'EC배액', 'pH급액', 'pH배액', '온도토양', '온도급액', '온도배액',
       '내부이산화탄소', '내부광량', '내부PT100온도센서1번건구', '내부PT100온도센서2번습구',
       '내부PT100온도센서3번', '내부PT100센서를이용한계산습도', '평균온도(℃)'],
      dtype='object')

In [51]:
selected_df2.drop(['내부PT100온도센서1번건구', '내부PT100온도센서2번습구','내부PT100온도센서3번' ,'내부PT100센서를이용한계산습도'], axis = 1, inplace= True)
selected_df2

C:\Users\acorn\AppData\Local\Temp\ipykernel_3552\1878541960.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_df2.drop(['내부PT100온도센서1번건구', '내부PT100온도센서2번습구','내부PT100온도센서3번' ,'내부PT100센서를이용한계산습도'], axis = 1, inplace= True)

,time,EC급액,EC배액,pH급액,pH배액,온도토양,온도급액,온도배액,내부이산화탄소,내부광량,평균온도(℃)
0,2021-10-25 11:17:56,2.74636,3.66298,6.999,6.999,-1000.0000,-1000.000,-1000.0000,361,283.7639,25.159420
1,2021-10-25 11:19:32,2.75214,3.67861,5.951,6.768,21.0625,25.250,23.2500,345,302.7681,25.475100
2,2021-10-25 11:19:52,2.75226,3.68064,5.949,6.767,21.1250,25.250,23.2500,343,312.3976,25.565210
3,2021-10-25 11:20:11,2.75272,3.68274,5.950,6.767,21.1250,25.250,23.2500,341,323.1989,25.655453
4,2021-10-25 11:20:17,2.75373,3.68332,5.950,6.767,21.1250,25.250,23.2500,341,327.1220,25.678030
...,...,...,...,...,...,...,...,...,...,...,...
50829,2021-12-21 11:58:58,2.79595,3.31343,5.509,6.016,17.8750,20.375,19.5000,454,202.3489,21.767010
50830,2021-12-21 11:59:10,2.79612,3.31431,5.508,6.017,17.8750,20.375,19.4375,454,201.5421,21.778367
50831,2021-12-21 12:00:29,2.79712,3.31740,5.494,6.008,17.8750,20.375,19.3125,455,187.4236,21.710770
50832,2021-12-21 12:00:52,2.79726,3.31821,5.495,6.007,17.8750,20.375,19.2500,454,188.7346,21.744503
50833,2021-12-21 12:01:15,2.79783,3.31918,5.496,6.004,17.8750,20.375,19.2500,449,184.6755,21.812100

In [52]:
# df_mean = (df2["내부PT100온도센서1번건구"]+df2["내부PT100온도센서2번습구"]+df2["내부PT100온도센서3번"])/3
# df_mean["일일 평균온도(℃)"] = df_mean

# df1.rename(columns={" 누적일사(J) ": "누적일사량(J/㎠/day)"}, inplace=True)

# df_1 = pd.concat([df1["J/Day"], df_mean["일일 평균온도(℃)"],
#                  df1["내부이산화탄소"], df1["EC급액"], dfs[4]["pH급액"]], axis=1)

In [53]:
selected_df1

                 날짜           시간    J/Day
0        2021-10-1       0:0:48       1453
1        2021-10-1       0:1:46       1453
2        2021-10-1       0:2:48       1453
3        2021-10-1       0:3:46       1453
4        2021-10-1       0:4:49       1453
...              ...          ...      ...
152993   2022-1-26     10:12:45          0
152994   2022-1-26     10:13:47          0
152995   2022-1-26     10:14:48          0
152996   2022-1-26     10:15:45          0
152997   2022-1-26     10:16:44          0

[152998 rows x 3 columns]

In [54]:
selected_df1.columns

Index([' 날짜 ', ' 시간 ', ' J/Day '], dtype='object')

In [55]:
# "날짜"와 "시간"을 합쳐서 datetime 열로 만들기
selected_df1['time'] = pd.to_datetime(
    selected_df1[' 날짜 '] + ' ' + selected_df1[' 시간 '], format='%Y-%m-%d %H:%M:%S', errors='ignore')

# "날짜"와 "시간" 열 제거
df_avg1 = selected_df1.drop([' 날짜 ', ' 시간 '], axis=1, inplace=True)

print(df_avg1)

None

C:\Users\acorn\AppData\Local\Temp\ipykernel_3552\1003041676.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_df1['time'] = pd.to_datetime(
C:\Users\acorn\AppData\Local\Temp\ipykernel_3552\1003041676.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_avg1 = selected_df1.drop([' 날짜 ', ' 시간 '], axis=1, inplace=True)

In [56]:
df_avg1

In [59]:
selected_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152998 entries, 0 to 152997
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0    J/Day   152998 non-null  int64
 1   time     152998 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 3.5 MB

## 1시간단위 측정 정리

In [63]:
# 시간 열을 datetime 형식으로 변환
selected_df1['time'] = pd.to_datetime(selected_df1['time'])

# 시간 열을 인덱스로 설정
selected_df1.set_index('time', inplace=True)

# 1시간 단위로 데이터를 묶어서 평균값 계산
df_hourly_avg = selected_df1.resample('1H').mean()

# 결과 출력
df_hourly_avg = pd.DataFrame(df_hourly_avg)
df_hourly_avg

KeyError: 'time'

In [64]:
df_hourly_avg.reset_index(inplace=True)

In [65]:
df_hourly_avg

                    time   J/Day
0    2021-10-01 00:00:00   1453.0
1    2021-10-01 01:00:00   1453.0
2    2021-10-01 02:00:00   1453.0
3    2021-10-01 03:00:00   1453.0
4    2021-10-01 04:00:00   1453.0
...                  ...      ...
2814 2022-01-26 06:00:00      NaN
2815 2022-01-26 07:00:00      NaN
2816 2022-01-26 08:00:00      NaN
2817 2022-01-26 09:00:00      0.0
2818 2022-01-26 10:00:00      0.0

[2819 rows x 2 columns]

In [68]:
selected_df1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 152998 entries, 2021-10-01 00:00:48 to 2022-01-26 10:16:44
Data columns (total 1 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0    J/Day   152998 non-null  int64
dtypes: int64(1)
memory usage: 2.3 MB

In [69]:
selected_df1.reset_index(inplace=True)

## 일별 단위 측정 정리

In [70]:
# 시간 열을 날짜 형식으로 변환
selected_df1['time'] = pd.to_datetime(selected_df1['time']).dt.date

# 시간 열을 인덱스로 설정
selected_df1.set_index('time', inplace=True)

# 일별로 나머지 열들을 평균값으로 묶기
df_day_avg1 = selected_df1.groupby('time').mean().reset_index()

df_day_avg1 = pd.DataFrame(df_day_avg1)
df_day_avg1

C:\Users\acorn\AppData\Local\Temp\ipykernel_3552\1429880543.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_df1['time'] = pd.to_datetime(selected_df1['time']).dt.date

           time       J/Day
0    2021-10-01  1458.156250
1    2021-10-02  2277.306250
2    2021-10-03  2167.000000
3    2021-10-04  2172.149742
4    2021-10-05  1991.863099
..          ...          ...
107  2022-01-22  1415.493750
108  2022-01-23  1015.587500
109  2022-01-24   790.512500
110  2022-01-25   713.000000
111  2022-01-26     0.000000

[112 rows x 2 columns]

In [75]:
selected_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50834 entries, 0 to 50833
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   time     50834 non-null  datetime64[ns]
 1   EC급액     50834 non-null  float64
 2   EC배액     50834 non-null  float64
 3   pH급액     50834 non-null  float64
 4   pH배액     50834 non-null  float64
 5   온도토양     50834 non-null  float64
 6   온도급액     50834 non-null  float64
 7   온도배액     50834 non-null  float64
 8   내부이산화탄소  50834 non-null  int64
 9   내부광량     50834 non-null  float64
 10  평균온도(℃)  50834 non-null  float64
dtypes: datetime64[ns](1), float64(9), int64(1)
memory usage: 4.7 MB

In [76]:
# 시간 열을 datetime 형식으로 변환
selected_df2['time'] = pd.to_datetime(selected_df2['time'])

# 시간 열을 인덱스로 설정
selected_df2.set_index('time', inplace=True)

# 1시간 단위로 데이터를 묶어서 평균값 계산
df2_hourly_avg = selected_df2.resample('1H').mean()

# 결과 출력
df2_hourly_avg = pd.DataFrame(df2_hourly_avg)
df2_hourly_avg

C:\Users\acorn\AppData\Local\Temp\ipykernel_3552\1848748273.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_df2['time'] = pd.to_datetime(selected_df2['time'])

,EC급액,EC배액,pH급액,pH배액,온도토양,온도급액,온도배액,내부이산화탄소,내부광량,평균온도(℃)
time,,,,,,,,,,
2021-10-25 11:00:00,2.830348,3.722351,5.947333,6.743198,10.627604,14.991536,12.888672,346.968750,260.318064,25.113070
2021-10-25 12:00:00,2.805600,3.761688,5.919826,6.748368,21.581048,25.834677,24.141532,343.335484,232.276693,24.407475
2021-10-25 13:00:00,2.721864,3.812324,5.923776,6.651351,22.169776,25.094216,24.510261,342.298507,278.202415,24.842023
2021-10-25 14:00:00,2.749988,3.906761,5.920353,6.653017,22.758929,25.038866,24.942227,347.647059,217.447628,24.607697
2021-10-25 15:00:00,2.713705,3.848237,5.928817,6.644458,22.901563,24.300521,24.143229,361.525000,106.592547,22.910198
...,...,...,...,...,...,...,...,...,...,...
2021-12-21 08:00:00,2.446037,3.035981,5.622514,5.860288,14.860360,14.969032,16.012387,900.972973,8.541532,13.585806
2021-12-21 09:00:00,2.474195,3.109794,5.743450,5.867016,15.259205,15.635659,17.381783,813.751938,49.206731,17.653590
2021-12-21 10:00:00,2.639204,3.334455,5.682939,5.962366,16.438454,18.394561,19.302958,592.099237,170.129892,22.535974
2021-12-21 11:00:00,2.731169,3.276885,5.512000,6.034342,17.441146,20.093229,19.914583,470.508333,229.257285,23.122648
2021-12-21 12:00:00,2.797403,3.318263,5.495000,6.006333,17.875000,20.375000,19.270833,452.666667,186.944567,21.755791

In [77]:
df2_hourly_avg.reset_index(inplace=True)
df2_hourly_avg

,time,EC급액,EC배액,pH급액,pH배액,온도토양,온도급액,온도배액,내부이산화탄소,내부광량,평균온도(℃)
0,2021-10-25 11:00:00,2.830348,3.722351,5.947333,6.743198,10.627604,14.991536,12.888672,346.968750,260.318064,25.113070
1,2021-10-25 12:00:00,2.805600,3.761688,5.919826,6.748368,21.581048,25.834677,24.141532,343.335484,232.276693,24.407475
2,2021-10-25 13:00:00,2.721864,3.812324,5.923776,6.651351,22.169776,25.094216,24.510261,342.298507,278.202415,24.842023
3,2021-10-25 14:00:00,2.749988,3.906761,5.920353,6.653017,22.758929,25.038866,24.942227,347.647059,217.447628,24.607697
4,2021-10-25 15:00:00,2.713705,3.848237,5.928817,6.644458,22.901563,24.300521,24.143229,361.525000,106.592547,22.910198
...,...,...,...,...,...,...,...,...,...,...,...
1365,2021-12-21 08:00:00,2.446037,3.035981,5.622514,5.860288,14.860360,14.969032,16.012387,900.972973,8.541532,13.585806
1366,2021-12-21 09:00:00,2.474195,3.109794,5.743450,5.867016,15.259205,15.635659,17.381783,813.751938,49.206731,17.653590
1367,2021-12-21 10:00:00,2.639204,3.334455,5.682939,5.962366,16.438454,18.394561,19.302958,592.099237,170.129892,22.535974
1368,2021-12-21 11:00:00,2.731169,3.276885,5.512000,6.034342,17.441146,20.093229,19.914583,470.508333,229.257285,23.122648
1369,2021-12-21 12:00:00,2.797403,3.318263,5.495000,6.006333,17.875000,20.375000,19.270833,452.666667,186.944567,21.755791

In [79]:
# 시간 열을 날짜 형식으로 변환
selected_df2.reset_index(inplace=True)

selected_df2['time'] = pd.to_datetime(selected_df2['time']).dt.date

# 일별로 나머지 열들을 평균값으로 묶기
df_day_avg2 = selected_df2.groupby('time').mean().reset_index()
df_day_avg2 = pd.DataFrame(df_day_avg2)
df_day_avg2

C:\Users\acorn\AppData\Local\Temp\ipykernel_3552\3349287874.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_df2['time'] = pd.to_datetime(selected_df2['time']).dt.date

,time,EC급액,EC배액,pH급액,pH배액,온도토양,온도급액,온도배액,내부이산화탄소,내부광량,평균온도(℃)
0,2021-10-25,2.626402,3.684454,5.960450,6.661472,20.862777,22.001730,21.369638,405.201107,129.458755,21.808696
1,2021-10-26,2.565136,3.605362,5.991489,6.682603,20.141569,20.971883,20.658477,436.336353,128.432469,20.994686
2,2021-10-27,2.654545,3.708150,6.002562,6.773828,21.086416,22.776252,22.192451,370.724963,235.426085,23.071717
3,2021-10-28,2.619362,3.594285,6.138881,6.703831,21.541301,22.203812,21.793497,426.743409,20.375192,20.933018
4,2021-10-29,2.516765,3.542393,6.102090,6.730763,20.161076,20.749965,20.525208,482.448333,25.019434,20.081556
5,2021-10-30,2.383204,3.501129,6.185694,6.761804,18.053837,17.869273,17.861433,593.789233,11.069111,18.129752
6,2021-11-01,2.572352,3.694476,5.942009,6.852313,11.064693,18.796235,18.696820,424.847953,57.335678,21.648427
7,2021-12-03,2.331853,3.061517,5.967246,6.180978,16.495336,14.679613,14.594980,625.523745,0.082956,14.390931
8,2021-12-04,2.388411,3.099304,5.988930,6.228246,16.726981,16.652077,16.607850,652.694306,50.080847,16.228202
9,2021-12-05,2.451431,3.071067,5.992140,6.219444,17.448633,17.466370,17.471717,690.177457,46.677128,16.779588
10,2021-12-06,2.477954,3.087783,5.997547,6.194598,17.397394,17.314958,17.296102,669.193220,50.700661,17.478047
11,2021-12-07,2.441904,3.070244,6.011297,6.178938,15.768520,16.001469,16.304177,679.671322,48.845370,17.296225
12,2021-12-08,2.460744,3.083109,6.020778,6.168220,18.080461,17.913787,17.911773,659.620266,53.638993,17.508567
13,2021-12-09,2.427545,3.120216,6.095647,6.169705,17.598056,17.484380,17.520083,687.218552,28.975763,16.667189
14,2021-12-10,2.397239,3.164202,6.100645,6.196529,16.499440,17.070832,16.709223,703.963831,34.291025,16.736812
15,2021-12-11,2.425467,3.165277,6.104776,6.188621,17.422569,17.559284,17.486113,688.417307,50.706178,17.482240
16,2021-12-12,2.403162,3.170616,6.111094,6.149439,17.511456,17.364096,17.354159,693.478101,37.066946,16.647365
17,2021-12-16,2.514647,2.981142,5.695965,6.060668,16.400327,14.851205,16.181055,742.547938,30.622300,16.444579
18,2021-12-17,2.545135,3.017462,5.611952,6.029698,17.317905,17.312625,17.940985,719.499499,49.078763,16.755213
19,2021-12-18,2.556012,3.072514,5.603185,5.968500,16.930106,17.038246,17.717703,700.813338,49.845289,16.376144
20,2021-12-19,2.600281,3.161034,5.635509,5.922513,17.025861,17.040260,17.533246,677.409136,40.386183,16.891548
21,2021-12-20,2.597772,3.158167,5.614258,5.895622,15.192609,16.024333,15.376667,696.238310,38.909406,16.412144
22,2021-12-21,2.494343,3.084306,5.648675,5.882057,15.680080,15.714370,16.783744,784.256875,38.683090,15.520672

## 1시간 Dataframe 합치기

In [87]:
# time column 기준으로 left outer join
# df_hourly_avg, df2_hourly_avg
merged_hourly_left_df = pd.merge(left=df_hourly_avg, right=df2_hourly_avg, how="left", on="time")
merged_hourly_left_df

,time,J/Day,EC급액,EC배액,pH급액,pH배액,온도토양,온도급액,온도배액,내부이산화탄소,내부광량,평균온도(℃)
0,2021-10-01 00:00:00,1453.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-10-01 01:00:00,1453.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-10-01 02:00:00,1453.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-10-01 03:00:00,1453.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-10-01 04:00:00,1453.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2814,2022-01-26 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2815,2022-01-26 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2816,2022-01-26 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2817,2022-01-26 09:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2818,2022-01-26 10:00:00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
null_counts = merged_hourly_left_df.isnull().sum()
print(null_counts)
merged_hourly_df_info = merged_hourly_left_df.info()
print(merged_hourly_df_info)

time          0
 J/Day      262
EC급액       2378
EC배액       2378
pH급액       2378
pH배액       2378
온도토양       2378
온도급액       2378
온도배액       2378
내부이산화탄소    2378
내부광량       2378
평균온도(℃)    2378
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2819 entries, 0 to 2818
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   time     2819 non-null   datetime64[ns]
 1    J/Day   2557 non-null   float64
 2   EC급액     441 non-null    float64
 3   EC배액     441 non-null    float64
 4   pH급액     441 non-null    float64
 5   pH배액     441 non-null    float64
 6   온도토양     441 non-null    float64
 7   온도급액     441 non-null    float64
 8   온도배액     441 non-null    float64
 9   내부이산화탄소  441 non-null    float64
 10  내부광량     441 non-null    float64
 11  평균온도(℃)  441 non-null    float64
dtypes: datetime64[ns](1), float64(11)
memory usage: 286.3 KB
None

In [88]:
# time column 기준으로 right outer join
# df_hourly_avg, df2_hourly_avg
merged_hourly_right_df = pd.merge(left=df_hourly_avg, right=df2_hourly_avg, how="right", on="time")
merged_hourly_right_df

,time,J/Day,EC급액,EC배액,pH급액,pH배액,온도토양,온도급액,온도배액,내부이산화탄소,내부광량,평균온도(℃)
0,2021-10-25 11:00:00,1552.0,2.830348,3.722351,5.947333,6.743198,10.627604,14.991536,12.888672,346.968750,260.318064,25.113070
1,2021-10-25 12:00:00,1552.0,2.805600,3.761688,5.919826,6.748368,21.581048,25.834677,24.141532,343.335484,232.276693,24.407475
2,2021-10-25 13:00:00,1552.0,2.721864,3.812324,5.923776,6.651351,22.169776,25.094216,24.510261,342.298507,278.202415,24.842023
3,2021-10-25 14:00:00,1552.0,2.749988,3.906761,5.920353,6.653017,22.758929,25.038866,24.942227,347.647059,217.447628,24.607697
4,2021-10-25 15:00:00,1552.0,2.713705,3.848237,5.928817,6.644458,22.901563,24.300521,24.143229,361.525000,106.592547,22.910198
...,...,...,...,...,...,...,...,...,...,...,...,...
1365,2021-12-21 08:00:00,1186.0,2.446037,3.035981,5.622514,5.860288,14.860360,14.969032,16.012387,900.972973,8.541532,13.585806
1366,2021-12-21 09:00:00,1186.0,2.474195,3.109794,5.743450,5.867016,15.259205,15.635659,17.381783,813.751938,49.206731,17.653590
1367,2021-12-21 10:00:00,1186.0,2.639204,3.334455,5.682939,5.962366,16.438454,18.394561,19.302958,592.099237,170.129892,22.535974
1368,2021-12-21 11:00:00,1186.0,2.731169,3.276885,5.512000,6.034342,17.441146,20.093229,19.914583,470.508333,229.257285,23.122648
1369,2021-12-21 12:00:00,1186.0,2.797403,3.318263,5.495000,6.006333,17.875000,20.375000,19.270833,452.666667,186.944567,21.755791

In [90]:
null_counts = merged_hourly_right_df.isnull().sum()
print(null_counts)
merged_hourly_df_info = merged_hourly_right_df.info()
print(merged_hourly_df_info)

time         0
 J/Day     210
EC급액       929
EC배액       929
pH급액       929
pH배액       929
온도토양       929
온도급액       929
온도배액       929
내부이산화탄소    929
내부광량       929
평균온도(℃)    929
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1370 entries, 0 to 1369
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   time     1370 non-null   datetime64[ns]
 1    J/Day   1160 non-null   float64
 2   EC급액     441 non-null    float64
 3   EC배액     441 non-null    float64
 4   pH급액     441 non-null    float64
 5   pH배액     441 non-null    float64
 6   온도토양     441 non-null    float64
 7   온도급액     441 non-null    float64
 8   온도배액     441 non-null    float64
 9   내부이산화탄소  441 non-null    float64
 10  내부광량     441 non-null    float64
 11  평균온도(℃)  441 non-null    float64
dtypes: datetime64[ns](1), float64(11)
memory usage: 139.1 KB
None

In [92]:
#Data save
merged_hourly_right_df
merged_hourly_right_df.to_csv("C:/seokwonna/pythonwork/AI/FinalProject/csv_file/6번농장_hour_df.csv")

In [103]:
merged_hourly_left_df.head()
merged_hourly_left_df.to_csv("C:/seokwonna/pythonwork/AI/FinalProject/csv_file/6번농장_전체시간기준_null값많음_df.csv")

## 일별 Dataframe 합치기

In [93]:
df_day_avg1.head()

         time       J/Day
0  2021-10-01  1458.156250
1  2021-10-02  2277.306250
2  2021-10-03  2167.000000
3  2021-10-04  2172.149742
4  2021-10-05  1991.863099

In [94]:
df_day_avg2.head()

,time,EC급액,EC배액,pH급액,pH배액,온도토양,온도급액,온도배액,내부이산화탄소,내부광량,평균온도(℃)
0,2021-10-25,2.626402,3.684454,5.960450,6.661472,20.862777,22.001730,21.369638,405.201107,129.458755,21.808696
1,2021-10-26,2.565136,3.605362,5.991489,6.682603,20.141569,20.971883,20.658477,436.336353,128.432469,20.994686
2,2021-10-27,2.654545,3.708150,6.002562,6.773828,21.086416,22.776252,22.192451,370.724963,235.426085,23.071717
3,2021-10-28,2.619362,3.594285,6.138881,6.703831,21.541301,22.203812,21.793497,426.743409,20.375192,20.933018
4,2021-10-29,2.516765,3.542393,6.102090,6.730763,20.161076,20.749965,20.525208,482.448333,25.019434,20.081556

In [95]:
# time column 기준으로 left outer join

day_left_df = pd.merge(left = df_day_avg1 , right = df_day_avg2, how = "left", on = "time")
day_left_df

,time,J/Day,EC급액,EC배액,pH급액,pH배액,온도토양,온도급액,온도배액,내부이산화탄소,내부광량,평균온도(℃)
0,2021-10-01,1458.156250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-10-02,2277.306250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-10-03,2167.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-10-04,2172.149742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-10-05,1991.863099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
107,2022-01-22,1415.493750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,2022-01-23,1015.587500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,2022-01-24,790.512500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,2022-01-25,713.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,2022-01-26,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:

day_right_df = pd.merge(left = df_day_avg1 , right = df_day_avg2, how = "left", on = "time")
day_right_df

,time,J/Day,EC급액,EC배액,pH급액,pH배액,온도토양,온도급액,온도배액,내부이산화탄소,내부광량,평균온도(℃)
0,2021-10-01,1458.156250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-10-02,2277.306250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-10-03,2167.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-10-04,2172.149742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-10-05,1991.863099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
107,2022-01-22,1415.493750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,2022-01-23,1015.587500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,2022-01-24,790.512500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,2022-01-25,713.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,2022-01-26,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
day_left_info = day_left_df.info()
print(day_left_info)

day_left_describe = day_left_df.describe()
print(day_left_describe)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112 entries, 0 to 111
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   time     112 non-null    object
 1    J/Day   112 non-null    float64
 2   EC급액     23 non-null     float64
 3   EC배액     23 non-null     float64
 4   pH급액     23 non-null     float64
 5   pH배액     23 non-null     float64
 6   온도토양     23 non-null     float64
 7   온도급액     23 non-null     float64
 8   온도배액     23 non-null     float64
 9   내부이산화탄소  23 non-null     float64
 10  내부광량     23 non-null     float64
 11  평균온도(℃)  23 non-null     float64
dtypes: float64(11), object(1)
memory usage: 11.4+ KB
None
            J/Day        EC급액       EC배액       pH급액       pH배액       온도토양  \
count   112.000000  23.000000  23.000000  23.000000  23.000000  23.000000
mean   1365.867831   2.497899   3.256444   5.935775   6.295669  17.495974
std     434.260044   0.090873   0.252686   0.193568   0.317712   2.263159
min       0.000000   2.331853   2.981142   5.603185   5.882057  11.064693
25%    1228.826718   2.426506   3.077811   5.818987   6.105054  16.497388
50%    1410.050000   2.494343   3.158167   5.992140   6.188621  17.397394
75%    1561.665625   2.568744   3.521761   6.098146   6.672038  18.067149
max    2277.306250   2.654545   3.708150   6.185694   6.852313  21.541301

            온도급액       온도배액     내부이산화탄소        내부광량    평균온도(℃)
count  23.000000  23.000000   23.000000   23.000000  23.000000
mean   17.950307  17.995091  617.861502   54.595984  17.925362
std     2.278090   2.011432  124.262175   49.326223   2.295921
min    14.679613  14.594980  370.724963    0.082956  14.390931
25%    16.845161  16.746484  538.118783   32.456662  16.545972
50%    17.364096  17.520083  677.409136   46.677128  16.891548
75%    18.355011  18.318903  694.858205   50.703420  19.105654
max    22.776252  22.192451  784.256875  235.426085  23.071717

In [104]:
day_right_info = day_right_df.info()
print(day_right_info)

day_right_describe = day_right_df.describe()
print(day_right_describe)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112 entries, 0 to 111
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   time     112 non-null    object
 1    J/Day   112 non-null    float64
 2   EC급액     23 non-null     float64
 3   EC배액     23 non-null     float64
 4   pH급액     23 non-null     float64
 5   pH배액     23 non-null     float64
 6   온도토양     23 non-null     float64
 7   온도급액     23 non-null     float64
 8   온도배액     23 non-null     float64
 9   내부이산화탄소  23 non-null     float64
 10  내부광량     23 non-null     float64
 11  평균온도(℃)  23 non-null     float64
dtypes: float64(11), object(1)
memory usage: 11.4+ KB
None
            J/Day        EC급액       EC배액       pH급액       pH배액       온도토양  \
count   112.000000  23.000000  23.000000  23.000000  23.000000  23.000000
mean   1365.867831   2.497899   3.256444   5.935775   6.295669  17.495974
std     434.260044   0.090873   0.252686   0.193568   0.317712   2.263159
min       0.000000   2.331853   2.981142   5.603185   5.882057  11.064693
25%    1228.826718   2.426506   3.077811   5.818987   6.105054  16.497388
50%    1410.050000   2.494343   3.158167   5.992140   6.188621  17.397394
75%    1561.665625   2.568744   3.521761   6.098146   6.672038  18.067149
max    2277.306250   2.654545   3.708150   6.185694   6.852313  21.541301

            온도급액       온도배액     내부이산화탄소        내부광량    평균온도(℃)
count  23.000000  23.000000   23.000000   23.000000  23.000000
mean   17.950307  17.995091  617.861502   54.595984  17.925362
std     2.278090   2.011432  124.262175   49.326223   2.295921
min    14.679613  14.594980  370.724963    0.082956  14.390931
25%    16.845161  16.746484  538.118783   32.456662  16.545972
50%    17.364096  17.520083  677.409136   46.677128  16.891548
75%    18.355011  18.318903  694.858205   50.703420  19.105654
max    22.776252  22.192451  784.256875  235.426085  23.071717

In [105]:
# 결측치
missing_values_day_df = day_right_df.isnull().sum()
print(missing_values_day_df)

time        0
 J/Day      0
EC급액       89
EC배액       89
pH급액       89
pH배액       89
온도토양       89
온도급액       89
온도배액       89
내부이산화탄소    89
내부광량       89
평균온도(℃)    89
dtype: int64

In [106]:
day_right_df.to_csv("C:/seokwonna/pythonwork/AI/FinalProject/csv_file/6번농장_day_merged_df.csv")